<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2>

<% @super_heroes.each.with_index do |hero, i| %>
  <h2>Hero Name: <%= @hero_names[i] %></h2>
  <p>Hero Power: <%= @hero_powers[i] %></p>
  <p>Hero Biography: <%= @hero_bios[i] %></p>
<% end %>